<template>
    <article class="slds-card slds-p-around_x-small">
        <div class="slds-grid slds-gutters">
          <div class="slds-col slds-size_1-of-12 slds-m-right_medium">
            <c-stencil  height="50" width="50" weight-variant ="dark"></c-stencil>
          </div>
          <div class="slds-col slds-size_11-of-12">
            <c-stencil height="20" width="100" weight-variant ="dark"></c-stencil>
            <c-stencil height="10" width = "100"  weight-variant ="dark"></c-stencil>
          </div>
        </div>
        <lightning-card >
          <c-stencil  count="5" weight-variant ="dark"></c-stencil>
          <c-stencil  count="2" weight-variant ="medium"></c-stencil>
          <c-stencil  count="2" weight-variant ="light"></c-stencil>
          <c-stencil  count="2" weight-variant ="lightest"></c-stencil>
        </lightning-card>
      </article>
</template>