<template>
    <article class="slds-card slds-p-around_x-small">
        <div class="slds-grid slds-gutters">
          <div class="slds-col slds-size_1-of-12 slds-m-right_medium ">
            <lightning-icon icon-name="action:user"></lightning-icon>
          </div>
          <div class="slds-col slds-size_11-of-12">
            <h2>Test Contact</h2>
            <h3>CEO</h3>
          </div>
        </div>
        <lightning-card >
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
          </p>
        </lightning-card>
      </article>
</template>