<template>
    <template for:each={items} for:item="item">
      <section key={item} class="slds-m-around_xx-small container" style={containerStyle}>
        <div class="loading" style={loadingBackgroundColor}></div>
      </section>
    </template>
  </template>